

body{
    font-family: 'Noto Sans TC',sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC',sans-serif;
    text-transform: none;
}

.subheading{
    font-family: 'Noto Sans TC',sans-serif;
    text-transform: none;
}

.expedu-icon{
    color:#495057;
    text-decoration:none;
}

.expedu-icon:hover{
    color:var(--bs-secondary);
}

:root{
    --bs-primary:#8b9bf7;
    --bs-primary-rgb:139, 155, 247;
    --bs-secondary:#6610f2;
    --bs-secondary-rgb:102, 16, 242;
}

a{
    color:var(--bs-primary);
    text-decoration:none;
}
a:hover{
    color:var(--bs-secondary);
    text-decoration:none;
}

.social-icons .social-icon:hover{
    background-color:var(--bs-secondary);
}
.fa-ul{
    font-size: 1.1rem;
}

.card {
   width: 310px;
}
