

body {
    font-family: 'Noto Sans TC',sans-serif;
 }
 
 h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
     font-family: 'Noto Sans TC',sans-serif;
     text-transform: none;
 }
 
 .subheading  {
    font-family: 'Noto Sans TC' ,sans-serif;
    text-transform: none;
 }
 
 .expedu_icon {
    color: #413942;
    text-decoration: none;
 }
 
 .expedu_icon:hover {
    color: var(--bs-primary);
 }
 
 :root {
    --bs-primary: rgb(183, 188, 250);
    --bs-primary-rgb: 183, 188, 250;
    --bs-secondary: rgb(21, 4, 255);
    --bs-secondary-rgb: 21, 4, 255;
 }
 
 .expedu_icon:hover {
    color: var(--bs-secondary);
 }
 
 a {
    color: var(--bs-primary);
 }
 
 a:hover {
    color: var(--bs-secondary);
 }
 
 .social-icons .social-icon:hover {
    background-color: var(--bs-secondary);
 }

 .fa-ul{
   font-size: 1.1rem;
 }