

body {
    font-family:'Noto Sans TC', sans-serif;
    }
    
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'Noto Sans TC', sans-serif;
    }
    
    :root {
        --bs-primary: #0dcaf0;
        --bs-primary-rgb: 13, 202, 240;
        --bs-secondary: #0d6efd;
        --bs-secondary-rgb: 13, 110, 253;
    
    }
    .expedu_icon:hover {
        color: var(--bs-secondary);
    }
    a {
        color: var(--bs-primary);
    }

    .socail-icons .social-icon:hover {
        background-color: var(--bs-secondary);
    }
table {width: 80%;}
th,td {border:1px solid #2a5d44;}
th {background-color:#99BBFF;}
